.DS_Store
.vs
.idea
.vscode

**/node_modules/
publish/
**/bin/
**/obj/
**/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
**/upload/
**/App_Data_Temp/
**/error/
**/errlog/
**/upload2/
**/LogFiles/
**/UploadFile/
**/ExportFile/
**/uploadclient/
**/uploadtest/
**/*.csproj.user

packages/

selenium-debug.log
*.user
# Editor directories and files
.idea
.vscode
*.suo


*.local

package-lock.json
yarn.lock


**/packages/

npm-debug.log*
yarn-debug.log*
yarn-error.log*